@model List<IndexViewParkModel>

@section Title{
    Index
}

@section StyleSheet {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="parks-listing">
    @foreach (IndexViewParkModel park in Model)
    {   
    <a asp-action="ParkDetails" asp-controller="Park" asp-route-ParkCode=@park.Code>
        <img src="~/images/parks/@(park.Code).jpg" /></a>

    <div>
        <a asp-action="ParkDetails" asp-controller="Park" asp-route-ParkCode=@park.Code><h3>@park.Name</h3></a>
        <p>@park.Description</p>
    </div>
        }
</div>