@model List<ParkModel>

@section Title{
    Index
}

@section StyleSheet {
    <link rel="stylesheet" href="~/css/Index.css" />
}

<div class="parks-listing">
    @foreach (ParkModel park in Model)
    {   
      <img src="~/images/parks/@(park.Code).jpg" /> 
      
      <div>
          <h3>@park.Name</h3>
          <p>@park.Description</p>
      </div>
    }
</div>