@model ParkDetailViewModel

@section Title 
{
    ParkDetails
}
@section StyleSheet {
    <link rel="stylesheet" href="~/css/park-detail.css" />
}

<div class="park-details-page">

    <div class="park-img-tile">
        <img src="~/images/parks/@(Model.Park.Code).jpg" class="park-img" />
    </div>

    <div class="park-details">
        <p>@Model.Park.Acreage</p>
    </div>

    <div class="park-title">
        <h3>@Model.Park.Name</h3>
    </div>

    <div class="park-description">
        <p>@Model.Park.Description</p>
    </div>

</div>


