@model List<SurveyResultsViewModel>

@section Title {
    Survey Results
}

@section StyleSheet {
    <link rel="stylesheet" href="~/css/survey-result.css" />
}

<h2>Survey Results</h2>

<div class="result-section">
    @foreach (var item in Model)
    {
    <div class="survey-row">
        <a asp-controller="Park" asp-action="ParkDetails" asp-route-ParkCode="@item.ParkCode"><img src="~/images/parks/@(item.ParkCode).jpg" /></a>
        <a asp-controller="Park" asp-action="ParkDetails" asp-route-ParkCode="@item.ParkCode">
            <h4>@item.Name</h4></a>
            <h4>Votes: <span class="votes-color">@item.NumOfVotes</span></h4>
    </div>
    }

</div>

