/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    
    padding-bottom: 20px;
}

li a:link {
    font-size: 20px;
}

.navbar-collapse.collapse {
    margin-left: 6%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container.body-content {
    margin: auto;
}

.logo-header img {
    width: 400px;
    margin-left: 4%;
}

.navbar .container {
    margin-left: 0;
    padding-left: 0;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
